<style rel="stylesheet">
    body {
        padding: 10px;
    }
    .mydiv{
        position:absolute;display:none;border:1px solid silver;
    }
</style>
<form class="layui-form layui-form-pane" action="">
    <%if (resource.id) { %>
    <input type="hidden" name="id" value="<%= resource.id %>" name="id">
    <% } %>
    <div class="layui-form-item">
        <label class="layui-form-label">资源名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" lay-verify="required" value="<%= resource.name ? resource.name : ""%>" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">资源别名</label>
        <div class="layui-input-block">
            <input type="text" name="alias_name" lay-verify="required" value="<%= resource.alias_name?resource.alias_name:""%>" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" >
        <label class="layui-form-label">父级资源</label>
        <div class="layui-input-block">
            <select name="parent_id" lay-filter="" <%- resource.parent_id != '-1' ? '' : 'disabled' %> >
                <option <%-resource?"":'selected'%> value="-1">请选择</option>
                <% if(parents && parents.length > 0){%>
                <% parents.forEach(function(item){ %>
                <option <%=item.id == resource.parent_id?'selected':''%> value='<%= item.id ? item.id : '' %>'><%= item.name %></option>
                <% }) %>
                <% } %>
            </select>

        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">资源类型</label>
        <div class="layui-input-block">
            <% if (resource_type.length) { %>
            <select name="res_type_code"  lay-verify="select_type" lay-filter="res_type_code">
                <% resource_type.forEach(function(item){ %>
                <option <%=item.value == resource.res_type_code?'selected':''%> value='<%= item.value %>'><%= item.name %></option>
                <% }) %>
            </select>
            <% } %>
        </div>
    </div>
    <div class="layui-form-item">
    <div id="popDiv" class="mydiv">
        <div align="left" style="padding:2px;z-index:2000;font-size:12px;cursor:pointer;" >
            <ul class="site-doc-icon" style="overflow: hidden;width: 600px">
                <li style="width: 100px;float: left">
                    <i class="layui-icon">&#xe68e;</i>
                    <div class="name">主页</div>
                    <div class="code">&amp;#xe68e;</div>
                </li>
                <li style="width: 100px;float: left">
                    <i class="layui-icon">&#xe6c6;</i>
                    <div class="name">赞</div>
                    <div class="code">&amp;#xe6c6;</div>
                </li>
                <li style="width: 100px;float: left">
                    <i class="layui-icon">&#xe6c5;</i>
                    <div class="name">踩</div>
                    <div class="code">&amp;#xe6c5;</div>
                </li>
            </ul>
        </div>
    </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">资源图标</label>
        <div class="layui-input-block">
            <a  id="choose_img" class="layui-btn  layui-btn-normal">
                选择图标
            </a>
            <i class="layui-icon" id="icon_path" name="icon_path"  ><%= resource.icon_path?resource.icon_path:""%></i>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">资源路径</label>
        <div class="layui-input-block">
            <input type="text" name="path" value="<%= resource.path?resource.path:""%>" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序号</label>
        <div class="layui-input-block">
            <input type="number" name="sorted_num"  lay-verify="sorted_num" value="<%= resource.sorted_num?resource.sorted_num:""%>" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">资源描述</label>
        <div class="layui-input-block">
            <textarea class="layui-textarea" name="description"  lay-verify="content" id="description" placeholder="资源描述" ><%= resource.description?resource.description:""%></textarea>
        </div>
    </div>
    <div class="layui-form-item" style="text-align: center;">
        <a class="layui-btn" lay-submit="" lay-filter="demo1">保存</a>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
</form>
<script>

  layui.use(['form', 'layedit', 'laydate'], function(){
    var form = layui.form,layer = layui.layer, $ = layui.jquery;
    //自定义验证
    form.verify({
      select_type:function(value,ele) {
        if(!value||value == "-1"){
          return "请根据页面提示进行修改！";
        }
      },
        sorted_num:function(value ,ele){
            if(value == ""){
                return "请填写排序号";
            }
        }

    });
    //选择图标
    $("li").each(function () {
      $(this).click(function () {
        $("#icon_path").html($(this).children(".code").text());
        $("#popDiv").hide();
      })
    })

    //监听提交
    form.on('submit(demo1)', function(data){
      var field = data.field;
      $.post('/admin/resource/input', field, function (result) {
        if(result.errCode == 0){
          var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
          parent.layer.close(index); //再执行关闭
          console.log("close frame"+index);
        }else{
          console.log("fail");
          layer.open({
            title: '提示',
            content: result.msg
          });
        }

      })
    });

    $('body').on('click','#choose_img',function (result) {
      $(this).css("left", event.clientX);
      $(this).css("top", event.clientY + 10);
      $("#popDiv").toggle();
    });
  });
</script>