<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-body" style="padding: 15px;">
      <form class="layui-form" action="" lay-filter="component-form-group">
        <% if (pay_inoutdetail.id) { %>
        <input type="hidden" value="<%= pay_inoutdetail.id %>" name="id">
        <% } %>

        <div class="layui-form-item">
          <label class="layui-form-label">member</label>
          <div class="layui-input-block">
            <input type="text" name="member" lay-verify="member"
                   value="<%= pay_inoutdetail.member ? pay_inoutdetail.member : '' %>" placeholder="请输入member" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">price</label>
          <div class="layui-input-block">
            <input type="text" name="price" lay-verify="price"
                   value="<%= pay_inoutdetail.price ? pay_inoutdetail.price : '0' %>" placeholder="请输入price" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">type</label>
          <div class="layui-input-block">
            <input type="text" name="type" lay-verify="type"
                   value="<%= pay_inoutdetail.type ? pay_inoutdetail.type : '0' %>" placeholder="请输入type" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">classes</label>
          <div class="layui-input-block">
            <input type="text" name="classes" lay-verify="classes"
                   value="<%= pay_inoutdetail.classes ? pay_inoutdetail.classes : '' %>" placeholder="请输入classes" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">url</label>
          <div class="layui-input-block">
            <input type="text" name="url" lay-verify="url"
                   value="<%= pay_inoutdetail.url ? pay_inoutdetail.url : '' %>" placeholder="请输入url" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">title</label>
          <div class="layui-input-block">
            <input type="text" name="title" lay-verify="title"
                   value="<%= pay_inoutdetail.title ? pay_inoutdetail.title : '' %>" placeholder="请输入title" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">desc</label>
          <div class="layui-input-block">
            <input type="text" name="desc" lay-verify="desc"
                   value="<%= pay_inoutdetail.desc ? pay_inoutdetail.desc : '' %>" placeholder="请输入desc" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">sorted_num</label>
          <div class="layui-input-block">
            <input type="text" name="sorted_num" lay-verify="sorted_num"
                   value="<%= pay_inoutdetail.sorted_num ? pay_inoutdetail.sorted_num : '1' %>" placeholder="请输入sorted_num" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item layui-layout-admin">
          <div class="layui-input-block">
            <div class="layui-footer" style="left: 0;">
              <button class="layui-btn" lay-submit="" lay-filter="component-form-submit">立即提交</button>
              <button id="reset" type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  layui.use(['form', 'laydate'], function () {
    var $ = layui.$, layer = layui.layer, form = layui.form;

    /* 自定义验证规则 */
    form.verify({
      price: function (value, item) {
        if (!value.trim()) {
          return 'price不能为空';
        }
        var reg = /^(\-|\+)?\d+(\.\d+)?$/;
        if(!reg.test(value.trim())) {
          return 'price必须是数字';
        }
        var reg = /^[0-9]+$/;
        if(!reg.test(value.trim())) {
          return 'price必须是整数';
        }
      },
      type: function (value, item) {
        if (!value.trim()) {
          return 'type不能为空';
        }
        var reg = /^(\-|\+)?\d+(\.\d+)?$/;
        if(!reg.test(value.trim())) {
          return 'type必须是数字';
        }
      },
      url: function (value, item) {
        if (value.trim().length > 200) {
          return 'url的长度必须小于200';
        }
      },
      title: function (value, item) {
        if (value.trim().length > 200) {
          return 'title的长度必须小于200';
        }
      },
      desc: function (value, item) {
        if (value.trim().length > 500) {
          return 'desc的长度必须小于500';
        }
      },
      sorted_num: function (value, item) {
        if (!value.trim()) {
          return 'sorted_num不能为空';
        }
        var reg = /^(\-|\+)?\d+(\.\d+)?$/;
        if(!reg.test(value.trim())) {
          return 'sorted_num必须是数字';
        }
        var reg = /^[0-9]+$/;
        if(!reg.test(value.trim())) {
          return 'sorted_num必须是整数';
        }
      },
    });

    /* 监听提交 */
    form.on('submit(component-form-submit)', function (data) {
      var loading = layer.load(1);
      $.post('/admin/pay_inoutdetail/modify', data.field, function (data) {
        layer.close(loading);
        if (data.errCode === 0) {
          layer.msg(data.msg, {
            icon: 6,
            time: 2000
          }, function() {
            window.location.reload();
          });
        } else {
          layer.msg(data.msg, {icon: 5});
        }
      });
      return false;
    });
  });
</script>
