<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-body" style="padding: 15px;">
      <form class="layui-form" action="" lay-filter="component-form-group">
        <% if (tuex_commentreply.id) { %>
        <input type="hidden" value="<%= tuex_commentreply.id %>" name="id">
        <% } %>

        <div class="layui-form-item">
          <label class="layui-form-label">comments_id</label>
          <div class="layui-input-block">
            <input type="text" name="comments_id" lay-verify="comments_id"
                   value="<%= tuex_commentreply.comments_id ? tuex_commentreply.comments_id : '' %>" placeholder="请输入comments_id" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">teacher_id</label>
          <div class="layui-input-block">
            <input type="text" name="teacher_id" lay-verify="teacher_id"
                   value="<%= tuex_commentreply.teacher_id ? tuex_commentreply.teacher_id : '' %>" placeholder="请输入teacher_id" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">content</label>
          <div class="layui-input-block">
            <input type="text" name="content" lay-verify="content"
                   value="<%= tuex_commentreply.content ? tuex_commentreply.content : '' %>" placeholder="请输入content" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">sorted_num</label>
          <div class="layui-input-block">
            <input type="text" name="sorted_num" lay-verify="sorted_num"
                   value="<%= tuex_commentreply.sorted_num ? tuex_commentreply.sorted_num : '1' %>" placeholder="请输入sorted_num" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item layui-layout-admin">
          <div class="layui-input-block">
            <div class="layui-footer" style="left: 0;">
              <button class="layui-btn" lay-submit="" lay-filter="component-form-submit">立即提交</button>
              <button id="reset" type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  layui.use(['form', 'laydate'], function () {
    var $ = layui.$, layer = layui.layer, form = layui.form;

    /* 自定义验证规则 */
    form.verify({
      content: function (value, item) {
        if (value.trim().length > 400) {
          return 'content的长度必须小于400';
        }
      },
      sorted_num: function (value, item) {
        if (!value.trim()) {
          return 'sorted_num不能为空';
        }
        var reg = /^(\-|\+)?\d+(\.\d+)?$/;
        if(!reg.test(value.trim())) {
          return 'sorted_num必须是数字';
        }
        var reg = /^[0-9]+$/;
        if(!reg.test(value.trim())) {
          return 'sorted_num必须是整数';
        }
      },
    });

    /* 监听提交 */
    form.on('submit(component-form-submit)', function (data) {
      var loading = layer.load(1);
      $.post('/admin/tuex_commentreply/modify', data.field, function (data) {
        layer.close(loading);
        if (data.errCode === 0) {
          layer.msg(data.msg, {
            icon: 6,
            time: 2000
          }, function() {
            window.location.reload();
          });
        } else {
          layer.msg(data.msg, {icon: 5});
        }
      });
      return false;
    });
  });
</script>
