<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-body" style="padding: 15px;">
      <form class="layui-form" action="" lay-filter="component-form-group">
        <% if (invite_registe.id) { %>
        <input type="hidden" value="<%= invite_registe.id %>" name="id">
        <% } %>

        <div class="layui-form-item">
          <label class="layui-form-label">invite_member</label>
          <div class="layui-input-block">
            <input type="text" name="invite_member" lay-verify="invite_member"
                   value="<%= invite_registe.invite_member ? invite_registe.invite_member : '' %>" placeholder="请输入invite_member" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">register_member</label>
          <div class="layui-input-block">
            <input type="text" name="register_member" lay-verify="register_member"
                   value="<%= invite_registe.register_member ? invite_registe.register_member : '' %>" placeholder="请输入register_member" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">register_time</label>
          <div class="layui-input-block">
            <input type="text" name="register_time" lay-verify="register_time"
                   value="<%= invite_registe.register_time ? invite_registe.register_time : '0' %>" placeholder="请输入register_time" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">invite_code</label>
          <div class="layui-input-block">
            <input type="text" name="invite_code" lay-verify="invite_code"
                   value="<%= invite_registe.invite_code ? invite_registe.invite_code : '' %>" placeholder="请输入invite_code" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">sorted_num</label>
          <div class="layui-input-block">
            <input type="text" name="sorted_num" lay-verify="sorted_num"
                   value="<%= invite_registe.sorted_num ? invite_registe.sorted_num : '1' %>" placeholder="请输入sorted_num" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item layui-layout-admin">
          <div class="layui-input-block">
            <div class="layui-footer" style="left: 0;">
              <button class="layui-btn" lay-submit="" lay-filter="component-form-submit">立即提交</button>
              <button id="reset" type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  layui.use(['form', 'laydate'], function () {
    var $ = layui.$, layer = layui.layer, form = layui.form;

    /* 自定义验证规则 */
    form.verify({
      register_time: function (value, item) {
        if (!value.trim()) {
          return 'register_time不能为空';
        }
        var reg = /^(\-|\+)?\d+(\.\d+)?$/;
        if(!reg.test(value.trim())) {
          return 'register_time必须是数字';
        }
      },
      invite_code: function (value, item) {
        if (value.trim().length > 50) {
          return 'invite_code的长度必须小于50';
        }
      },
      sorted_num: function (value, item) {
        if (!value.trim()) {
          return 'sorted_num不能为空';
        }
        var reg = /^(\-|\+)?\d+(\.\d+)?$/;
        if(!reg.test(value.trim())) {
          return 'sorted_num必须是数字';
        }
        var reg = /^[0-9]+$/;
        if(!reg.test(value.trim())) {
          return 'sorted_num必须是整数';
        }
      },
    });

    /* 监听提交 */
    form.on('submit(component-form-submit)', function (data) {
      var loading = layer.load(1);
      $.post('/admin/invite_registe/modify', data.field, function (data) {
        layer.close(loading);
        if (data.errCode === 0) {
          layer.msg(data.msg, {
            icon: 6,
            time: 2000
          }, function() {
            window.location.reload();
          });
        } else {
          layer.msg(data.msg, {icon: 5});
        }
      });
      return false;
    });
  });
</script>
