<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-body" style="padding: 15px;">
      <form class="layui-form" action="" lay-filter="component-form-group">
        <% if (tuex_logindevice.id) { %>
        <input type="hidden" value="<%= tuex_logindevice.id %>" name="id">
        <% } %>

        <div class="layui-form-item">
          <label class="layui-form-label">member_id</label>
          <div class="layui-input-block">
            <input type="text" name="member_id" lay-verify="member_id"
                   value="<%= tuex_logindevice.member_id ? tuex_logindevice.member_id : '' %>" placeholder="请输入member_id" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">user_type</label>
          <div class="layui-input-block">
            <input type="text" name="user_type" lay-verify="user_type"
                   value="<%= tuex_logindevice.user_type ? tuex_logindevice.user_type : '0' %>" placeholder="请输入user_type" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">device_id</label>
          <div class="layui-input-block">
            <input type="text" name="device_id" lay-verify="device_id"
                   value="<%= tuex_logindevice.device_id ? tuex_logindevice.device_id : '' %>" placeholder="请输入device_id" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">name</label>
          <div class="layui-input-block">
            <input type="text" name="name" lay-verify="name"
                   value="<%= tuex_logindevice.name ? tuex_logindevice.name : '' %>" placeholder="请输入name" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">desc</label>
          <div class="layui-input-block">
            <input type="text" name="desc" lay-verify="desc"
                   value="<%= tuex_logindevice.desc ? tuex_logindevice.desc : '' %>" placeholder="请输入desc" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">sorted_num</label>
          <div class="layui-input-block">
            <input type="text" name="sorted_num" lay-verify="sorted_num"
                   value="<%= tuex_logindevice.sorted_num ? tuex_logindevice.sorted_num : '1' %>" placeholder="请输入sorted_num" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item layui-layout-admin">
          <div class="layui-input-block">
            <div class="layui-footer" style="left: 0;">
              <button class="layui-btn" lay-submit="" lay-filter="component-form-submit">立即提交</button>
              <button id="reset" type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  layui.use(['form', 'laydate'], function () {
    var $ = layui.$, layer = layui.layer, form = layui.form;

    /* 自定义验证规则 */
    form.verify({
      user_type: function (value, item) {
        if (!value.trim()) {
          return 'user_type不能为空';
        }
        var reg = /^(\-|\+)?\d+(\.\d+)?$/;
        if(!reg.test(value.trim())) {
          return 'user_type必须是数字';
        }
        var reg = /^[0-9]+$/;
        if(!reg.test(value.trim())) {
          return 'user_type必须是整数';
        }
      },
      device_id: function (value, item) {
        if (value.trim().length > 100) {
          return 'device_id的长度必须小于100';
        }
      },
      name: function (value, item) {
        if (value.trim().length > 100) {
          return 'name的长度必须小于100';
        }
      },
      desc: function (value, item) {
        if (value.trim().length > 300) {
          return 'desc的长度必须小于300';
        }
      },
      sorted_num: function (value, item) {
        if (!value.trim()) {
          return 'sorted_num不能为空';
        }
        var reg = /^(\-|\+)?\d+(\.\d+)?$/;
        if(!reg.test(value.trim())) {
          return 'sorted_num必须是数字';
        }
        var reg = /^[0-9]+$/;
        if(!reg.test(value.trim())) {
          return 'sorted_num必须是整数';
        }
      },
    });

    /* 监听提交 */
    form.on('submit(component-form-submit)', function (data) {
      var loading = layer.load(1);
      $.post('/admin/tuex_logindevice/modify', data.field, function (data) {
        layer.close(loading);
        if (data.errCode === 0) {
          layer.msg(data.msg, {
            icon: 6,
            time: 2000
          }, function() {
            window.location.reload();
          });
        } else {
          layer.msg(data.msg, {icon: 5});
        }
      });
      return false;
    });
  });
</script>
