<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-body" style="padding: 15px;">
      <form class="layui-form" action="" lay-filter="component-form-group">
        <% if (tuex_loginrecord.id) { %>
        <input type="hidden" value="<%= tuex_loginrecord.id %>" name="id">
        <% } %>

        <div class="layui-form-item">
          <label class="layui-form-label">member_id</label>
          <div class="layui-input-block">
            <input type="text" name="member_id" lay-verify="member_id"
                   value="<%= tuex_loginrecord.member_id ? tuex_loginrecord.member_id : '' %>" placeholder="请输入member_id" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">place</label>
          <div class="layui-input-block">
            <input type="text" name="place" lay-verify="place"
                   value="<%= tuex_loginrecord.place ? tuex_loginrecord.place : '' %>" placeholder="请输入place" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">ip</label>
          <div class="layui-input-block">
            <input type="text" name="ip" lay-verify="ip"
                   value="<%= tuex_loginrecord.ip ? tuex_loginrecord.ip : '' %>" placeholder="请输入ip" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">device_name</label>
          <div class="layui-input-block">
            <input type="text" name="device_name" lay-verify="device_name"
                   value="<%= tuex_loginrecord.device_name ? tuex_loginrecord.device_name : '' %>" placeholder="请输入device_name" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">sorted_num</label>
          <div class="layui-input-block">
            <input type="text" name="sorted_num" lay-verify="sorted_num"
                   value="<%= tuex_loginrecord.sorted_num ? tuex_loginrecord.sorted_num : '1' %>" placeholder="请输入sorted_num" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item layui-layout-admin">
          <div class="layui-input-block">
            <div class="layui-footer" style="left: 0;">
              <button class="layui-btn" lay-submit="" lay-filter="component-form-submit">立即提交</button>
              <button id="reset" type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  layui.use(['form', 'laydate'], function () {
    var $ = layui.$, layer = layui.layer, form = layui.form;

    /* 自定义验证规则 */
    form.verify({
      place: function (value, item) {
        if (value.trim().length > 200) {
          return 'place的长度必须小于200';
        }
      },
      ip: function (value, item) {
        if (value.trim().length > 30) {
          return 'ip的长度必须小于30';
        }
      },
      device_name: function (value, item) {
        if (value.trim().length > 100) {
          return 'device_name的长度必须小于100';
        }
      },
      sorted_num: function (value, item) {
        if (!value.trim()) {
          return 'sorted_num不能为空';
        }
        var reg = /^(\-|\+)?\d+(\.\d+)?$/;
        if(!reg.test(value.trim())) {
          return 'sorted_num必须是数字';
        }
        var reg = /^[0-9]+$/;
        if(!reg.test(value.trim())) {
          return 'sorted_num必须是整数';
        }
      },
    });

    /* 监听提交 */
    form.on('submit(component-form-submit)', function (data) {
      var loading = layer.load(1);
      $.post('/admin/tuex_loginrecord/modify', data.field, function (data) {
        layer.close(loading);
        if (data.errCode === 0) {
          layer.msg(data.msg, {
            icon: 6,
            time: 2000
          }, function() {
            window.location.reload();
          });
        } else {
          layer.msg(data.msg, {icon: 5});
        }
      });
      return false;
    });
  });
</script>
