<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-body" style="padding: 15px;">
      <form class="layui-form" action="" lay-filter="component-form-group">
        <% if (web_values.id) { %>
        <input type="hidden" value="<%= web_values.id %>" name="id">
        <% } %>

        <div class="layui-form-item">
          <label class="layui-form-label">data_type</label>
          <div class="layui-input-block">
            <input type="text" name="data_type" lay-verify="data_type"
                   value="<%= web_values.data_type ? web_values.data_type : '' %>" placeholder="请输入data_type" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">props_id</label>
          <div class="layui-input-block">
            <input type="text" name="props_id" lay-verify="props_id"
                   value="<%= web_values.props_id ? web_values.props_id : '' %>" placeholder="请输入props_id" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">object_id</label>
          <div class="layui-input-block">
            <input type="text" name="object_id" lay-verify="object_id"
                   value="<%= web_values.object_id ? web_values.object_id : '' %>" placeholder="请输入object_id" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">values_text</label>
          <div class="layui-input-block">
            <input type="text" name="values_text" lay-verify="values_text"
                   value="<%= web_values.values_text ? web_values.values_text : '' %>" placeholder="请输入values_text" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">sorted_num</label>
          <div class="layui-input-block">
            <input type="text" name="sorted_num" lay-verify="sorted_num"
                   value="<%= web_values.sorted_num ? web_values.sorted_num : '1' %>" placeholder="请输入sorted_num" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item layui-layout-admin">
          <div class="layui-input-block">
            <div class="layui-footer" style="left: 0;">
              <button class="layui-btn" lay-submit="" lay-filter="component-form-submit">立即提交</button>
              <button id="reset" type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  layui.use(['form', 'laydate'], function () {
    var $ = layui.$, layer = layui.layer, form = layui.form;

    /* 自定义验证规则 */
    form.verify({
      data_type: function (value, item) {
        if (value.trim().length > 100) {
          return 'data_type的长度必须小于100';
        }
      },
      props_id: function (value, item) {
        if (value.trim().length > 100) {
          return 'props_id的长度必须小于100';
        }
      },
      object_id: function (value, item) {
        if (value.trim().length > 100) {
          return 'object_id的长度必须小于100';
        }
      },
      values_text: function (value, item) {
      },
      sorted_num: function (value, item) {
        if (!value.trim()) {
          return 'sorted_num不能为空';
        }
        var reg = /^(\-|\+)?\d+(\.\d+)?$/;
        if(!reg.test(value.trim())) {
          return 'sorted_num必须是数字';
        }
        var reg = /^[0-9]+$/;
        if(!reg.test(value.trim())) {
          return 'sorted_num必须是整数';
        }
      },
    });

    /* 监听提交 */
    form.on('submit(component-form-submit)', function (data) {
      var loading = layer.load(1);
      $.post('/admin/web_values/modify', data.field, function (data) {
        layer.close(loading);
        if (data.errCode === 0) {
          layer.msg(data.msg, {
            icon: 6,
            time: 2000
          }, function() {
            window.location.reload();
          });
        } else {
          layer.msg(data.msg, {icon: 5});
        }
      });
      return false;
    });
  });
</script>
