<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-body" style="padding: 15px;">
      <form class="layui-form" action="" lay-filter="component-form-group">
        <%- '\<\% if (' + varName + ') { \%\>' %>
        <input type="hidden" value="<%- '\<\%= ' + varName + '.' + 'id' + ' \%\>' %>" name="id">
        <%- '\<\% } \%\>' %>
        <%_ for (var column of columns) { _%>
        <div class="layui-form-item">
          <label class="layui-form-label"><%- column.name %></label>
          <div class="layui-input-block">
            <input
              type="text"
              name="<%- column.name %>"
              lay-verify="<%- column.name %>"
              value="<%- '\<\%= ' + varName + ' ? ' + varName + '.' + column.name + ' : \'' + (column.default ? column.default + '' : (column.varType === 'number' ? '0' : '')) + '\' \%\>' %>"
              placeholder="请输入<%- column.name %>"
              autocomplete="off"
              class="layui-input">
          </div>
        </div>
        <%_ } _%>
        <div class="layui-form-item layui-layout-admin">
          <div class="layui-input-block">
            <div class="layui-footer" style="left: 0;">
              <button class="layui-btn" lay-submit="" lay-filter="component-form-submit">立即提交</button>
              <button id="reset" type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  // FIXME: 统一修改为用adminUtils方法访问网络等
  layui.config({
    base: '/admin/js/'
  }).use(['form', 'laydate', 'adminUtils'], function () {
    var form = layui.form;
    var adminUtils = layui.adminUtils;

    /* 自定义验证规则 */
    form.verify({
      <%_ for (var column of columns) { _%>
      <%- column.entityName %>: function (value, item) {
        <%_ if (!column.nullable) { _%>
        if (!value.trim()) {
          return '<%= column.entityName %>不能为空';
        }
        <%_ } _%>
        <%_ if (column.varType === 'number') { _%>
        var reg = /^(\-|\+)?\d+(\.\d+)?$/;
        if(!reg.test(value.trim())) {
          return '<%= column.entityName %>必须是数字';
        }
        <%_ } _%>
        <%_ if (column.varType === 'string') { _%>
        <%_ if (column.length) { _%>
        if (value.trim().length > <%= column.length %>) {
          return '<%= column.entityName %>的长度必须小于<%= column.length %>';
        }
        <%_ } _%>
        <%_ } _%>
      },
      <%_ } _%>
    });

    /* 监听提交 */
    form.on('submit(component-form-submit)', function (data) {
      var fields = data.field;
      adminUtils.fetch({
        url: '/<%- moduleName %>/<%- name.toLowerCase() %>/modify',
        data: fields,
        success: function(data) {
          window.location.reload();
        }
      });
      return false;
    });
  });
</script>
