<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-body" style="padding: 15px;">
      <form class="layui-form" action="" lay-filter="component-form-group">
        <% if (msg_message.id) { %>
        <input type="hidden" value="<%= msg_message.id %>" name="id">
        <% } %>
        <div class="layui-form-item">
          <label class="layui-form-label">标题</label>
          <div class="layui-input-block">
            <input type="text" name="title" lay-verify="title"
                   value="<%= msg_message.title ? msg_message.title : '' %>" 
                   placeholder="请输入标题" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">内容</label>
          <div class="layui-input-block">
            <!-- <input type="text" name="content" lay-verify="content"
                   value="<%= msg_message.content ? msg_message.content : '' %>" 
                   placeholder="请输入内容" autocomplete="off" class="layui-input"> -->
            <textarea name="content" placeholder="请输入内容" 
              class="layui-textarea"><%= msg_message.content ? msg_message.content : '' %></textarea>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">链接</label>
          <div class="layui-input-block">
            <input type="text" name="url" lay-verify="url"
                   value="<%= msg_message.url ? msg_message.url : '' %>" 
                   placeholder="请输入链接(选填))" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item layui-layout-admin">
          <div class="layui-input-block">
            <div class="layui-footer" style="left: 0;">
              <button class="layui-btn" lay-submit="" lay-filter="component-form-submit">立即提交</button>
              <button id="reset" type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  layui.use(['form', 'laydate'], function () {
    var $ = layui.$, layer = layui.layer, form = layui.form;

    /* 自定义验证规则 */
    form.verify({
      title: function (value, item) {
        if (!value.trim()) {
          return '标题不能为空';
        }
        if (value.trim().length > 500) {
          return '标题的长度必须小于500';
        }
      },
      content: function (value, item) {
        if (!value.trim()) {
          return '内容不能为空';
        }
        if (value.trim().length > 10000) {
          return '内容的长度必须小于10000';
        }
      },
      url: function (value, item) {
        if (item) {
          var reg = /^((ht|f)tps?):\/\/[\w\-]+(\.[\w\-]+)+([\w\-.,@?^=%&:\/~+#]*[\w\-@?^=%&\/~+#])?$/;
          if (reg.test(value)) {

          } else {
            return '请输入正确的链接';
          }
        }
      },
      sorted_num: function (value, item) {
        if (!value.trim()) {
          return 'sorted_num不能为空';
        }
        var reg = /^(\-|\+)?\d+(\.\d+)?$/;
        if(!reg.test(value.trim())) {
          return 'sorted_num必须是数字';
        }
        var reg = /^[0-9]+$/;
        if(!reg.test(value.trim())) {
          return 'sorted_num必须是整数';
        }
      },
    });

    /* 监听提交 */
    form.on('submit(component-form-submit)', function (data) {
      var loading = layer.load(1);
      $.post('/admin/message/modify', data.field, function (data) {
        layer.close(loading);
        if (data.errCode === 0) {
          layer.msg(data.msg, {
            icon: 6,
            time: 2000
          }, function() {
            window.location.reload();
          });
        } else {
          layer.msg(data.msg, {icon: 5});
        }
      });
      return false;
    });
  });
</script>
