<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-body" style="padding: 15px;">
      <form class="layui-form" action="" lay-filter="component-form-group">
        <div class="layui-form-item">
          <label class="layui-form-label">昵称</label>
          <div class="layui-input-block">
            <input type="text" name="nick_name" lay-verify="nick_name"
                   value="<%= user.nick_name ? user.nick_name : '' %>" placeholder="请输入昵称" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">性别</label>
          <div class="layui-input-block">
            <select name="sex" lay-verify="sex">
              <% _.each(sex, function (s) { %>
              <option value="<%= s.id %>" <%= user.sex === s.id ? 'selected' : '' %>><%= s.name %></option>
              <% }) %>
            </select>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">描述</label>
          <div class="layui-input-block">
            <textarea name="descriptions" lay-verify="descriptions" placeholder="请输入内容" class="layui-textarea"><%= user.descriptions ? user.descriptions : '' %></textarea>
          </div>
        </div>
        <div class="layui-form-item layui-layout-admin">
          <div class="layui-input-block">
            <div class="layui-footer" style="left: 0;">
              <button class="layui-btn" lay-submit="" lay-filter="component-form-submit">保存</button>
              <button id="reset" type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  layui.use(['form', 'laydate'], function () {
    var $ = layui.$, layer = layui.layer, form = layui.form;

    /* 自定义验证规则 */
    form.verify({
      name: function (value, item) {
      },
      nick_name: function (value, item) {
      },
      head_icon: function (value, item) {
      },
      descriptions: function (value, item) {
      },
      sex: function (value, item) {
      }
    });

    /* 监听提交 */
    form.on('submit(component-form-submit)', function (data) {
      var loading = layer.load(1);
      var fields = data.field;
      for (var i in fields) {
        if (!fields[i]) {
          delete fields[i];
        }
      }
      $.post('', data.field, function (data) {
        layer.close(loading);
        if (data.errCode === 0) {
          layer.msg(data.msg, {
            icon: 6,
            time: 2000
          }, function() {
            window.location.reload();
          });
        } else {
          layer.msg(data.msg, {icon: 5});
        }
      });
      return false;
    });
  });
</script>
