<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-body" style="padding: 15px;">
      <form class="layui-form" action="" lay-filter="component-form-group">
        <% if (tuex_coupon_record.id) { %>
        <input type="hidden" value="<%= tuex_coupon_record.id %>" name="id">
        <% } %>

        <div class="layui-form-item">
          <label class="layui-form-label">coupon_id</label>
          <div class="layui-input-block">
            <input type="text" name="coupon_id" lay-verify="coupon_id"
                   value="<%= tuex_coupon_record.coupon_id ? tuex_coupon_record.coupon_id : '' %>" placeholder="请输入coupon_id" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">student_id</label>
          <div class="layui-input-block">
            <input type="text" name="student_id" lay-verify="student_id"
                   value="<%= tuex_coupon_record.student_id ? tuex_coupon_record.student_id : '' %>" placeholder="请输入student_id" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">order_id</label>
          <div class="layui-input-block">
            <input type="text" name="order_id" lay-verify="order_id"
                   value="<%= tuex_coupon_record.order_id ? tuex_coupon_record.order_id : '' %>" placeholder="请输入order_id" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">status</label>
          <div class="layui-input-block">
            <input type="text" name="status" lay-verify="status"
                   value="<%= tuex_coupon_record.status ? tuex_coupon_record.status : '0' %>" placeholder="请输入status" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">endtime</label>
          <div class="layui-input-block">
            <input type="text" name="endtime" lay-verify="endtime"
                   value="<%= tuex_coupon_record.endtime ? tuex_coupon_record.endtime : '0' %>" placeholder="请输入endtime" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">use_time</label>
          <div class="layui-input-block">
            <input type="text" name="use_time" lay-verify="use_time"
                   value="<%= tuex_coupon_record.use_time ? tuex_coupon_record.use_time : '0' %>" placeholder="请输入use_time" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">sorted_num</label>
          <div class="layui-input-block">
            <input type="text" name="sorted_num" lay-verify="sorted_num"
                   value="<%= tuex_coupon_record.sorted_num ? tuex_coupon_record.sorted_num : '1' %>" placeholder="请输入sorted_num" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item layui-layout-admin">
          <div class="layui-input-block">
            <div class="layui-footer" style="left: 0;">
              <button class="layui-btn" lay-submit="" lay-filter="component-form-submit">立即提交</button>
              <button id="reset" type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  layui.use(['form', 'laydate'], function () {
    var $ = layui.$, layer = layui.layer, form = layui.form;

    /* 自定义验证规则 */
    form.verify({
      status: function (value, item) {
        if (!value.trim()) {
          return 'status不能为空';
        }
        var reg = /^(\-|\+)?\d+(\.\d+)?$/;
        if(!reg.test(value.trim())) {
          return 'status必须是数字';
        }
        var reg = /^[0-9]+$/;
        if(!reg.test(value.trim())) {
          return 'status必须是整数';
        }
      },
      endtime: function (value, item) {
        if (!value.trim()) {
          return 'endtime不能为空';
        }
        var reg = /^(\-|\+)?\d+(\.\d+)?$/;
        if(!reg.test(value.trim())) {
          return 'endtime必须是数字';
        }
      },
      use_time: function (value, item) {
        if (!value.trim()) {
          return 'use_time不能为空';
        }
        var reg = /^(\-|\+)?\d+(\.\d+)?$/;
        if(!reg.test(value.trim())) {
          return 'use_time必须是数字';
        }
      },
      sorted_num: function (value, item) {
        if (!value.trim()) {
          return 'sorted_num不能为空';
        }
        var reg = /^(\-|\+)?\d+(\.\d+)?$/;
        if(!reg.test(value.trim())) {
          return 'sorted_num必须是数字';
        }
        var reg = /^[0-9]+$/;
        if(!reg.test(value.trim())) {
          return 'sorted_num必须是整数';
        }
      },
    });

    /* 监听提交 */
    form.on('submit(component-form-submit)', function (data) {
      var loading = layer.load(1);
      $.post('/admin/tuex_coupon_record/modify', data.field, function (data) {
        layer.close(loading);
        if (data.errCode === 0) {
          layer.msg(data.msg, {
            icon: 6,
            time: 2000
          }, function() {
            window.location.reload();
          });
        } else {
          layer.msg(data.msg, {icon: 5});
        }
      });
      return false;
    });
  });
</script>
