<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-body" style="padding: 15px;">
      <form class="layui-form" action="" lay-filter="component-form-group">
        <% if (tuex_member.id) { %>
        <input type="hidden" value="<%= tuex_member.id %>" name="id">
        <% } %>

        <div class="layui-form-item">
          <label class="layui-form-label">nick_name</label>
          <div class="layui-input-block">
            <input type="text" name="nick_name" lay-verify="nick_name"
                   value="<%= tuex_member.nick_name ? tuex_member.nick_name : '' %>" placeholder="请输入nick_name" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">head_icon</label>
          <div class="layui-input-block">
            <input type="text" name="head_icon" lay-verify="head_icon"
                   value="<%= tuex_member.head_icon ? tuex_member.head_icon : '' %>" placeholder="请输入head_icon" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">sur_name</label>
          <div class="layui-input-block">
            <input type="text" name="sur_name" lay-verify="sur_name"
                   value="<%= tuex_member.sur_name ? tuex_member.sur_name : '' %>" placeholder="请输入sur_name" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">name</label>
          <div class="layui-input-block">
            <input type="text" name="name" lay-verify="name"
                   value="<%= tuex_member.name ? tuex_member.name : '' %>" placeholder="请输入name" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">vacation_mode</label>
          <div class="layui-input-block">
            <input type="text" name="vacation_mode" lay-verify="vacation_mode"
                   value="<%= tuex_member.vacation_mode ? tuex_member.vacation_mode : '' %>" placeholder="请输入vacation_mode" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">teacher</label>
          <div class="layui-input-block">
            <input type="text" name="teacher" lay-verify="teacher"
                   value="<%= tuex_member.teacher ? tuex_member.teacher : '' %>" placeholder="请输入teacher" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">type</label>
          <div class="layui-input-block">
            <input type="text" name="type" lay-verify="type"
                   value="<%= tuex_member.type ? tuex_member.type : '' %>" placeholder="请输入type" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">auth_state</label>
          <div class="layui-input-block">
            <input type="text" name="auth_state" lay-verify="auth_state"
                   value="<%= tuex_member.auth_state ? tuex_member.auth_state : '' %>" placeholder="请输入auth_state" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">identity_state</label>
          <div class="layui-input-block">
            <input type="text" name="identity_state" lay-verify="identity_state"
                   value="<%= tuex_member.identity_state ? tuex_member.identity_state : '' %>" placeholder="请输入identity_state" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">education_state</label>
          <div class="layui-input-block">
            <input type="text" name="education_state" lay-verify="education_state"
                   value="<%= tuex_member.education_state ? tuex_member.education_state : '' %>" placeholder="请输入education_state" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">intelligence_state</label>
          <div class="layui-input-block">
            <input type="text" name="intelligence_state" lay-verify="intelligence_state"
                   value="<%= tuex_member.intelligence_state ? tuex_member.intelligence_state : '' %>" placeholder="请输入intelligence_state" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">area_code</label>
          <div class="layui-input-block">
            <input type="text" name="area_code" lay-verify="area_code"
                   value="<%= tuex_member.area_code ? tuex_member.area_code : '' %>" placeholder="请输入area_code" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">mobile_num</label>
          <div class="layui-input-block">
            <input type="text" name="mobile_num" lay-verify="mobile_num"
                   value="<%= tuex_member.mobile_num ? tuex_member.mobile_num : '' %>" placeholder="请输入mobile_num" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">email</label>
          <div class="layui-input-block">
            <input type="text" name="email" lay-verify="email"
                   value="<%= tuex_member.email ? tuex_member.email : '' %>" placeholder="请输入email" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">login_name</label>
          <div class="layui-input-block">
            <input type="text" name="login_name" lay-verify="login_name"
                   value="<%= tuex_member.login_name ? tuex_member.login_name : '' %>" placeholder="请输入login_name" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">password</label>
          <div class="layui-input-block">
            <input type="text" name="password" lay-verify="password"
                   value="<%= tuex_member.password ? tuex_member.password : '' %>" placeholder="请输入password" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">pay_password</label>
          <div class="layui-input-block">
            <input type="text" name="pay_password" lay-verify="pay_password"
                   value="<%= tuex_member.pay_password ? tuex_member.pay_password : '' %>" placeholder="请输入pay_password" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">wechat_openid</label>
          <div class="layui-input-block">
            <input type="text" name="wechat_openid" lay-verify="wechat_openid"
                   value="<%= tuex_member.wechat_openid ? tuex_member.wechat_openid : '' %>" placeholder="请输入wechat_openid" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">facebook_openid</label>
          <div class="layui-input-block">
            <input type="text" name="facebook_openid" lay-verify="facebook_openid"
                   value="<%= tuex_member.facebook_openid ? tuex_member.facebook_openid : '' %>" placeholder="请输入facebook_openid" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">twitter_openid</label>
          <div class="layui-input-block">
            <input type="text" name="twitter_openid" lay-verify="twitter_openid"
                   value="<%= tuex_member.twitter_openid ? tuex_member.twitter_openid : '' %>" placeholder="请输入twitter_openid" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">invite_member</label>
          <div class="layui-input-block">
            <input type="text" name="invite_member" lay-verify="invite_member"
                   value="<%= tuex_member.invite_member ? tuex_member.invite_member : '' %>" placeholder="请输入invite_member" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">invite_code</label>
          <div class="layui-input-block">
            <input type="text" name="invite_code" lay-verify="invite_code"
                   value="<%= tuex_member.invite_code ? tuex_member.invite_code : '' %>" placeholder="请输入invite_code" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">languages</label>
          <div class="layui-input-block">
            <input type="text" name="languages" lay-verify="languages"
                   value="<%= tuex_member.languages ? tuex_member.languages : '' %>" placeholder="请输入languages" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">sex</label>
          <div class="layui-input-block">
            <input type="text" name="sex" lay-verify="sex"
                   value="<%= tuex_member.sex ? tuex_member.sex : '' %>" placeholder="请输入sex" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">apptoken</label>
          <div class="layui-input-block">
            <input type="text" name="apptoken" lay-verify="apptoken"
                   value="<%= tuex_member.apptoken ? tuex_member.apptoken : '' %>" placeholder="请输入apptoken" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">status</label>
          <div class="layui-input-block">
            <input type="text" name="status" lay-verify="status"
                   value="<%= tuex_member.status ? tuex_member.status : '' %>" placeholder="请输入status" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">invite_num</label>
          <div class="layui-input-block">
            <input type="text" name="invite_num" lay-verify="invite_num"
                   value="<%= tuex_member.invite_num ? tuex_member.invite_num : '' %>" placeholder="请输入invite_num" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">descriptions</label>
          <div class="layui-input-block">
            <input type="text" name="descriptions" lay-verify="descriptions"
                   value="<%= tuex_member.descriptions ? tuex_member.descriptions : '' %>" placeholder="请输入descriptions" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">my_scan</label>
          <div class="layui-input-block">
            <input type="text" name="my_scan" lay-verify="my_scan"
                   value="<%= tuex_member.my_scan ? tuex_member.my_scan : '' %>" placeholder="请输入my_scan" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">registry_way</label>
          <div class="layui-input-block">
            <input type="text" name="registry_way" lay-verify="registry_way"
                   value="<%= tuex_member.registry_way ? tuex_member.registry_way : '' %>" placeholder="请输入registry_way" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">last_login_device</label>
          <div class="layui-input-block">
            <input type="text" name="last_login_device" lay-verify="last_login_device"
                   value="<%= tuex_member.last_login_device ? tuex_member.last_login_device : '' %>" placeholder="请输入last_login_device" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">balance</label>
          <div class="layui-input-block">
            <input type="text" name="balance" lay-verify="balance"
                   value="<%= tuex_member.balance ? tuex_member.balance : '' %>" placeholder="请输入balance" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">address</label>
          <div class="layui-input-block">
            <input type="text" name="address" lay-verify="address"
                   value="<%= tuex_member.address ? tuex_member.address : '' %>" placeholder="请输入address" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">accountStatus</label>
          <div class="layui-input-block">
            <input type="text" name="accountStatus" lay-verify="accountStatus"
                   value="<%= tuex_member.accountStatus ? tuex_member.accountStatus : '' %>" placeholder="请输入accountStatus" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">grade</label>
          <div class="layui-input-block">
            <input type="text" name="grade" lay-verify="grade"
                   value="<%= tuex_member.grade ? tuex_member.grade : '' %>" placeholder="请输入grade" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">province_id</label>
          <div class="layui-input-block">
            <input type="text" name="province_id" lay-verify="province_id"
                   value="<%= tuex_member.province_id ? tuex_member.province_id : '' %>" placeholder="请输入province_id" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">city_id</label>
          <div class="layui-input-block">
            <input type="text" name="city_id" lay-verify="city_id"
                   value="<%= tuex_member.city_id ? tuex_member.city_id : '' %>" placeholder="请输入city_id" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">street_name</label>
          <div class="layui-input-block">
            <input type="text" name="street_name" lay-verify="street_name"
                   value="<%= tuex_member.street_name ? tuex_member.street_name : '' %>" placeholder="请输入street_name" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">house_number</label>
          <div class="layui-input-block">
            <input type="text" name="house_number" lay-verify="house_number"
                   value="<%= tuex_member.house_number ? tuex_member.house_number : '' %>" placeholder="请输入house_number" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">identity_code</label>
          <div class="layui-input-block">
            <input type="text" name="identity_code" lay-verify="identity_code"
                   value="<%= tuex_member.identity_code ? tuex_member.identity_code : '' %>" placeholder="请输入identity_code" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">sendbird_access_token</label>
          <div class="layui-input-block">
            <input type="text" name="sendbird_access_token" lay-verify="sendbird_access_token"
                   value="<%= tuex_member.sendbird_access_token ? tuex_member.sendbird_access_token : '' %>" placeholder="请输入sendbird_access_token" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">course_time</label>
          <div class="layui-input-block">
            <input type="text" name="course_time" lay-verify="course_time"
                   value="<%= tuex_member.course_time ? tuex_member.course_time : '' %>" placeholder="请输入course_time" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">teach_language</label>
          <div class="layui-input-block">
            <input type="text" name="teach_language" lay-verify="teach_language"
                   value="<%= tuex_member.teach_language ? tuex_member.teach_language : '' %>" placeholder="请输入teach_language" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">wiling_travel</label>
          <div class="layui-input-block">
            <input type="text" name="wiling_travel" lay-verify="wiling_travel"
                   value="<%= tuex_member.wiling_travel ? tuex_member.wiling_travel : '' %>" placeholder="请输入wiling_travel" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">stripe_customer</label>
          <div class="layui-input-block">
            <input type="text" name="stripe_customer" lay-verify="stripe_customer"
                   value="<%= tuex_member.stripe_customer ? tuex_member.stripe_customer : '' %>" placeholder="请输入stripe_customer" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">sorted_num</label>
          <div class="layui-input-block">
            <input type="text" name="sorted_num" lay-verify="sorted_num"
                   value="<%= tuex_member.sorted_num ? tuex_member.sorted_num : '' %>" placeholder="请输入sorted_num" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item layui-layout-admin">
          <div class="layui-input-block">
            <div class="layui-footer" style="left: 0;">
              <button class="layui-btn" lay-submit="" lay-filter="component-form-submit">立即提交</button>
              <button id="reset" type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  layui.use(['form', 'laydate'], function () {
    var $ = layui.$, layer = layui.layer, form = layui.form;

    /* 自定义验证规则 */
    form.verify({
      nick_name: function (value, item) {
      },
      head_icon: function (value, item) {
      },
      sur_name: function (value, item) {
      },
      name: function (value, item) {
      },
      vacation_mode: function (value, item) {
      },
      type: function (value, item) {
      },
      auth_state: function (value, item) {
      },
      identity_state: function (value, item) {
      },
      education_state: function (value, item) {
      },
      intelligence_state: function (value, item) {
      },
      area_code: function (value, item) {
      },
      mobile_num: function (value, item) {
      },
      email: function (value, item) {
      },
      login_name: function (value, item) {
      },
      password: function (value, item) {
      },
      pay_password: function (value, item) {
      },
      wechat_openid: function (value, item) {
      },
      facebook_openid: function (value, item) {
      },
      twitter_openid: function (value, item) {
      },
      invite_member: function (value, item) {
      },
      invite_code: function (value, item) {
      },
      languages: function (value, item) {
      },
      sex: function (value, item) {
      },
      apptoken: function (value, item) {
      },
      status: function (value, item) {
      },
      invite_num: function (value, item) {
      },
      descriptions: function (value, item) {
      },
      my_scan: function (value, item) {
      },
      registry_way: function (value, item) {
      },
      last_login_device: function (value, item) {
      },
      balance: function (value, item) {
      },
      address: function (value, item) {
      },
      accountStatus: function (value, item) {
      },
      street_name: function (value, item) {
      },
      house_number: function (value, item) {
      },
      identity_code: function (value, item) {
      },
      sendbird_access_token: function (value, item) {
      },
      course_time: function (value, item) {
      },
      teach_language: function (value, item) {
      },
      wiling_travel: function (value, item) {
      },
      stripe_customer: function (value, item) {
      },
      deleted: function (value, item) {
      },
      create_user: function (value, item) {
      },
      sorted_num: function (value, item) {
      },
    });

    /* 监听提交 */
    form.on('submit(component-form-submit)', function (data) {
      var loading = layer.load(1);
      var fields = data.field;
      for (var i in fields) {
        if (!fields[i]) {
          delete fields[i];
        }
      }
      $.post('/admin/tuex_member/modify', data.field, function (data) {
        layer.close(loading);
        if (data.errCode === 0) {
          layer.msg(data.msg, {
            icon: 6,
            time: 2000
          }, function() {
            window.location.reload();
          });
        } else {
          layer.msg(data.msg, {icon: 5});
        }
      });
      return false;
    });
  });
</script>
