<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-body" style="padding: 15px;">
      <form class="layui-form" action="" lay-filter="component-form-group">
        <% if (tuex_teachtime.id) { %>
        <input type="hidden" value="<%= tuex_teachtime.id %>" name="id">
        <% } %>

        <div class="layui-form-item">
          <label class="layui-form-label">teacher_id</label>
          <div class="layui-input-block">
            <input type="text" name="teacher_id" lay-verify="teacher_id"
                   value="<%= tuex_teachtime.teacher_id ? tuex_teachtime.teacher_id : '' %>" placeholder="请输入teacher_id" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">course_day</label>
          <div class="layui-input-block">
            <input type="text" name="course_day" lay-verify="course_day"
                   value="<%= tuex_teachtime.course_day ? tuex_teachtime.course_day : '0' %>" placeholder="请输入course_day" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">start_time</label>
          <div class="layui-input-block">
            <input type="text" name="start_time" lay-verify="start_time"
                   value="<%= tuex_teachtime.start_time ? tuex_teachtime.start_time : '' %>" placeholder="请输入start_time" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">end_time</label>
          <div class="layui-input-block">
            <input type="text" name="end_time" lay-verify="end_time"
                   value="<%= tuex_teachtime.end_time ? tuex_teachtime.end_time : '' %>" placeholder="请输入end_time" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">course_date</label>
          <div class="layui-input-block">
            <input type="text" name="course_date" lay-verify="course_date"
                   value="<%= tuex_teachtime.course_date ? tuex_teachtime.course_date : '' %>" placeholder="请输入course_date" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">once</label>
          <div class="layui-input-block">
            <input type="text" name="once" lay-verify="once"
                   value="<%= tuex_teachtime.once ? tuex_teachtime.once : '0' %>" placeholder="请输入once" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">sorted_num</label>
          <div class="layui-input-block">
            <input type="text" name="sorted_num" lay-verify="sorted_num"
                   value="<%= tuex_teachtime.sorted_num ? tuex_teachtime.sorted_num : '1' %>" placeholder="请输入sorted_num" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item layui-layout-admin">
          <div class="layui-input-block">
            <div class="layui-footer" style="left: 0;">
              <button class="layui-btn" lay-submit="" lay-filter="component-form-submit">立即提交</button>
              <button id="reset" type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  layui.use(['form', 'laydate'], function () {
    var $ = layui.$, layer = layui.layer, form = layui.form;

    /* 自定义验证规则 */
    form.verify({
      course_day: function (value, item) {
        if (!value.trim()) {
          return 'course_day不能为空';
        }
        var reg = /^(\-|\+)?\d+(\.\d+)?$/;
        if(!reg.test(value.trim())) {
          return 'course_day必须是数字';
        }
      },
      start_time: function (value, item) {
        if (value.trim().length > 100) {
          return 'start_time的长度必须小于100';
        }
      },
      end_time: function (value, item) {
        if (value.trim().length > 100) {
          return 'end_time的长度必须小于100';
        }
      },
      course_date: function (value, item) {
        if (value.trim().length > 100) {
          return 'course_date的长度必须小于100';
        }
      },
      once: function (value, item) {
        if (!value.trim()) {
          return 'once不能为空';
        }
        var reg = /^(\-|\+)?\d+(\.\d+)?$/;
        if(!reg.test(value.trim())) {
          return 'once必须是数字';
        }
      },
      sorted_num: function (value, item) {
        if (!value.trim()) {
          return 'sorted_num不能为空';
        }
        var reg = /^(\-|\+)?\d+(\.\d+)?$/;
        if(!reg.test(value.trim())) {
          return 'sorted_num必须是数字';
        }
        var reg = /^[0-9]+$/;
        if(!reg.test(value.trim())) {
          return 'sorted_num必须是整数';
        }
      },
    });

    /* 监听提交 */
    form.on('submit(component-form-submit)', function (data) {
      var loading = layer.load(1);
      $.post('/admin/tuex_teachtime/modify', data.field, function (data) {
        layer.close(loading);
        if (data.errCode === 0) {
          layer.msg(data.msg, {
            icon: 6,
            time: 2000
          }, function() {
            window.location.reload();
          });
        } else {
          layer.msg(data.msg, {icon: 5});
        }
      });
      return false;
    });
  });
</script>
